//***vdoing主题-样式变量（你可以修改这些变量值以覆盖主题使用的样式变量）***//

// 以下注释的变量仅供参考，主题使用的最新变量请查看：https://github.com/xugaoyi/vuepress-theme-vdoing/blob/master/theme-vdoing/styles/palette.styl
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Noto+Sans+SC:wght@400;500&display=swap');
theme-vdoing-wrapper {
  background: none;
}
li::marker{
  color:rgb(15, 186, 183);
  font-style: bold;
}
a{
  transition: all 1s ease;
}
.navbar .site-name{
  opacity: 0;
  }
  p{
  font-family: 'Ubuntu', sans-serif;
  }
.theme-mode-light p img{
border-radius: 9px
// box-shadow: 0 0 10px rgb(182, 250, 255);
margin-top: 27px;
margin-bottom: 27px;
box-shadow: 0px 0px 25px rgba(0,0,0,.5);
 /*考虑浏览器兼容性*/
-moz-box-shadow: 0px 0px 25px rgba(0,0,0,.5);
-webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.5);
}
.theme-mode-dark p img{
border-radius: 9px
// box-shadow: 0 0 10px rgb(182, 250, 255);
margin-top: 27px;
margin-bottom: 27px;
box-shadow: 0px 0px 25px rgba(132, 167, 156, 0.231);
 /*考虑浏览器兼容性*/
-moz-box-shadow: 0px 0px 25px rgba(132, 167, 156, 0.2);
-webkit-box-shadow: 0px 0px 25px rgba(132, 167, 156, 0.2);
}
.page >*:not(.footer){
  box-shadow: none;
  background: none;
  }
.right-menu-wrapper .right-menu-title{
  font-size: 15px;
}
.sidebar-button:hover{
  background:none;
  box-shadow: none;
  color:rgb(37, 135, 255);
  }
.navbar .links{
  font-size: 17px;
  font-style: bold;
  // font-family: 微软雅黑;
}
.buttons .button{
  
  background: none;}
.buttons .button:hover{
background-color: rgb(37, 135, 255);
box-shadow: none;  
}
.dropdown-wrapper .dropdown-title{
  font-size: 17px;
  font-style: bold;
  // font-family: 微软雅黑;
}
.right-menu-wrapper .right-menu-content .right-menu-item a{
  font-size: 14px;
  // color: rgb(34, 33, 33);
  transition: all 0.3s ease-in-out;
  }
  p{
    font-size: 18px;
  }
.custom-block.theorem{
  background-color: rgba(137, 47, 169, 0.279);
  border: 2px solid #b80bfc;
  border-radius: 5px;
  color: #ea00ff;
  padding: 20px;
}
.custom-block .theorem .custom-block-title{
  color: #b80bfc;
}

.sidebar-group-items.active li{
  background-color: #5862e8;
  }
.nav-item{
  transition: border-bottom 5s;
  font-size: 18px;
  }

  .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active{
    // color: rgb(56, 212, 255);
    font-size: 18px;
    border-bottom:3px solid rgb(56, 185, 255);
    padding-bottom: 5px;
    transition: border-bottom ease-in-out 0.1s,color ease 1s;
  }
   .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active :hover{
    // color: rgb(56, 235, 255);
  }
.catalogue-wrapper .catalogue-content dl a[data-v-0f581a11]:not(.header-anchor){
  transition: all ease-in-out 1s;
  font-size: 19px; 
  }
  .catalogue-wrapper .catalogue-content dl a[data-v-0f581a11]:not(.header-anchor):hover{
  font-size: 19.3px; 
  }
  .right-menu-wrapper .right-menu-content .right-menu-item.active:before{
    height: 22px;
    }
.catalogue-wrapper .catalogue-content dl{
  font-size: 21px; 
  }

.home-wrapper .card-box {
  background: none;
  box-shadow:none;
  }
.home-wrapper .banner{
  background:none !improtant;
}
.home-wrapper .banner{ 
  background: none !important;
  min-height: -100px !important;
}
a.prev{
  // background:rgba(0, 255, 242, 0.344);
  padding:3px;
  margin:1px;
}
.logo{
  animation-name: breath;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes breath {
        from {
          opacity: 0.2;
        }
        50% {
          opacity: 1;
        }
        to {
          opacity: 0.2;
        }
      }
@keyframes heartbeat {
 0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
 14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
// body .search-box input{
//   border: 3px soild blue;
// }
.theme-mode-dark a.prev:hover{
  background:rgba(130, 132, 134, 0.31);
  border-radius: 10px;
}
span .next{
  padding:3px;
  margin:1px;
}
.theme-mode-dark span .next:hover{
  background:rgba(130, 132, 134, 0.31);
  border-radius: 10px;
}
.right-menu-item{
  transition: all ease-in-out 1s;
  }
.nav-dropdown{
  font-size: 18px;
  transition: all ease-in-out .5s;
  }
.dropdown-wrapper .dropdown-title{
  font-size: 18px;
  padding-bottom: 5px;
  }
  link-title router-link-exact-active router-link-active{
    padding-bottom: 5px;
    }
    .navbar .links{
      font-size: 18px;
      }
// 修改容器样式
.theme-mode-dark .custom-block.note{
  background-color: rgba(142, 168, 254, 0.244);
  border: 2px solid #2882ffde;
  border-radius: 5px;
  color: #2882ffde;
  padding: 20px;
}
.theme-mode-dark .custom-block.note .custom-block-title{
  color: #206aff;
}
.theme-mode-light .custom-block.note{
  background-color: rgba(142, 168, 254, 0.244);
  border: 2px solid #2882ffde;
  border-radius: 5px;
  color: #2882ffde;
  padding: 20px;
}
.theme-mode-light .custom-block.note .custom-block-title{
  color: #206aff;
}


.theme-mode-dark .custom-block.tip{
  background-color: #12b59d1a;
  border: 2px solid #12b59d80;
  border-radius: 5px;
  color: #12b59d;
  padding: 20px;
}
.theme-mode-dark .custom-block.tip .custom-block-title{
  color: #13ceb2;
}
.theme-mode-light .custom-block.tip{
  background-color: #12b59d1a;
  border: 2px solid #12b59d80;
  border-radius: 5px;
  color: #12b59d;
  padding: 20px;
}
.theme-mode-light .custom-block.tip .custom-block-title{
  color: #13ceb2;
}
.theme-mode-dark .custom-block.warning{
  background-color: rgba(232, 207, 83, 0.285);
  border: 2px solid #ffb20d77;
  border-radius: 5px;
  color: rgb(255, 178, 13);
  padding: 20px;
}
.theme-mode-dark .custom-block.warning .custom-block-title{
  color: #ffb20d;
}
.theme-mode-light .custom-block.warning{
  background-color: rgba(232, 207, 83, 0.285);
  border: 2px solid #ffb20d77;
  border-radius: 5px;
  color: rgb(255, 178, 13);
  padding: 20px;
}
.theme-mode-light .custom-block.warning .custom-block-title{
  color: #ffb20d;
}
.theme-mode-dark .navbar{
  background-color: rgba(10, 9, 9, 0.393);
  backdrop-filter: blur(50px);
  font-size: 40px;
}
// .navbar{
//     box-shadow: none;
// }

// body .search-box input {
//   border: 2px soild #ffffff;
// }
.theme-mode-dark .sidebar{
  background-color: rgb(18, 18, 18);
  }
  .theme-mode-light .sidebar{
  background-color: rgb(255, 255, 255);
  }
.sidebar-button{
  justify-content: center;
  align-content: center;

  }
h2{
  color:rgb(54, 201, 255);
  border-left: 2px soild white;
}
h3{
  color:rgb(97, 136, 255)
}
strong{
  color:rgb(30, 156, 149)
}
em{
  background-color: rgba(100, 227, 255, 0.163);
}
.article-list .article-wrapper dl dd{
  color: rgb(67, 152, 242)
  }

$bannerTextColor = rgb(67, 108, 242)// 首页banner区(博客标题)文本颜色
$accentColor = rgb(74, 142, 251)// 主题色
$activeColor = #22ffc8
$arrowBgColor = rgb(135, 145, 141)

// // 布局
 $navbarHeight = 4.2rem
// $sidebarWidth = 18rem
// $contentWidth = 860px
 $homePageWidth = 1500px
// $rightMenuWidth = 230px // 右侧菜单

// // 代码块
// $lineNumbersWrapperWidth = 2.5rem

// // 浅色模式
 .theme-mode-light
   --bodyBg: rgb(255, 255, 255)
   --mainBg: white
   --sidebarBg: white
   --codeBg: rgba(210, 246, 242, 0.265)
   --textColor: #004050
   --blurBg: rgba(255, 255, 255, 0.369)
   --codeBg: #f3fdff
   --codeColor: rgb(6, 6, 6)
   codeThemeDark()

//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   // 代码块浅色主题
   
//   --codeColor: #525252
//   codeThemeLight()
//   // // 代码块深色主题
//   // --codeBg: #252526
//   // --codeColor: #fff
//   // codeThemeDark()

// // 深色模式
 .theme-mode-dark
     --bodyBg: rgb(18, 18, 18)
     --mainBg: rgb(18, 18, 18)
     --codeBg: #100f0f
     --textColor: rgb(210, 199, 199)
     --blurBg: rgba(30, 30, 34, 0.561)
//   --sidebarBg: rgba(30,30,34,.8)

//   --textColor: rgb(140,140,150)
//   --textLightenColor: #0085AD
//   --borderColor: #2C2C3A

//   --codeColor: #fff
//   codeThemeDark()

// // 阅读模式
// .theme-mode-read
//   --bodyBg: rgb(240,240,208)
//   --mainBg: rgba(245,245,213,1)
//   --sidebarBg: rgba(245,245,213,.8)
//   --blurBg: rgba(245,245,213,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   --codeBg: #282c34
//   --codeColor: #fff
//   codeThemeDark()
a.sidebar-link{
  transition: all .5s ease;
}
a.sidebar-link.active{
  background-color: rgba(36, 208, 255, 0.366);
  margin-left:20px;
  color: rgb(34, 115, 255);
}
// 设置文章顶部面包屑和作者信息
articleInfo-wrap{
  height: 20px;
}
.articleInfo-wrap .articleInfo .breadcrumbs li a{
  // color: rgb(181, 184, 192);
  font-size: 16px;
  margin: 5px;
  padding: 7px;
  border-radius: 22px;
}
// .theme-mode-dark .articleInfo-wrap .articleInfo .breadcrumbs li a:hover{
//   background-color: rgba(137, 111, 253, 0.547);
// }
.home-wrapper .banner .banner-conent .hero {
  animation: sport .1s;
  // transform: translateY(0px);
  transition: all 3s ease;
  z-index :1000;
  }

@keyframes sport {
            0%   {transform: translateY(150px);opacity: 0.7;}
            25%  {transform: translateY(100px);opacity: 0.8}
            50%  {transform: translateY(50px);opacity: 0.9}
            100% {transform: translateY(0px);opacity: 1}
        }

